@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply transition-colors;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-slate-50 font-sans text-slate-900;
  }

  input:focus,
  select:focus,
  textarea:focus {
    @apply outline-none ring-2 ring-green-200 border-green-300;
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-300 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-400;
}
